---
layout: page
title: Random Musings on Technology and Culture
tagline:
---
{% include JB/setup %}

<ul >
    {% for post in site.posts limit:5 %}
    <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ BASE_PATH }}{{ post.url }}"><strong>{{ post.title }}</strong></a></li>
        {{ post.description }}
            <a href="{{ post.url }}">Read more...</a><br><br>
    {% endfor %}
</ul>

<div>
    <p>
        <a href="{{ BASE_PATH }}archive.html">More Posts...</a>
    </p>
</div>




